
<h1 style="text-align:center">This is About Page</h1>

<br/>

<div  style="height:30px;width:100%;background: lightblue;"><span><%= link_to 'home',root_path %></span><span style="padding-left: 15px;">about</span></div>

<br/>
<div style="text-align:center">
    <%= image_tag 'happy_img.jpg' %>
</div>

<h1 style="text-align:center">Making the world’s knowledge computable</h1>
<div style="margin:auto">Wolfram|Alpha introduces a fundamentally new way to get knowledge and answers—
not by searching the web, but by doing dynamic computations based on a vast collection of built-in data, algorithms, and methods.</div>